@model Buttons.WebUI.Models.RegisterViewModel
@{
    ViewBag.Title = "RegisterRole";
}

<h2>RegisterRole</h2>
@using (Html.BeginForm("RegisterRole", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>create a new account</h4>
    <hr />
    @Html.ValidationSummary("", new  {@class = "text-danger" })
    <div class="form-group">
        @Html.Label("Select Role", new  {@class = "col-md-2 control label" })
        <div class="col-md-10">
            @Html.DropDownList("UserName")
        </div>
    </div>
     
    <!--Select the role type for the user-->
    <div class="form-group">
        @Html.Label("Select User", new  {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.DropDownList("Name")
        </div>
    </div>
    <!--Ends here-->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}
